
<%= image_tag 'title.jpg',:width => '100%', :height => '400'%>

<div class="top_page">
  <p>日々の出来事を記録するブログです</p>
  <%= link_to 'ブログを書く', toppages_index_path, class: "btn btn-large"%>
</div>
  <%= image_tag 'shinjuku.jpg',:width => '100%', :height => '400'%>