
// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new
.blog-new {
  background-color: lightgray;
  margin: 0, auto;
}

.new-title {
  text-align: center;
}

// _form
.title-form {
  text-align: center;
  padding: 20px;
}

.title-form label {
  font-weight: bold;
}

.title-form input {
  width: 150px;
}

.content-form {
  text-align: center;
  padding: 20px;
}

.content-form label {
  font-weight: bold;
}

.content-form textarea {
  width: 120px;
  height: 50px;
}

.btn-form {
  text-align: center;
}

