
.btn{
  margin-left: 550px;
}


h2{
  text-align: center;
  font-family : arial, sans-serif;
};

.top_page{
  background-color: #D8D8D8;
  height: 200px;
  width: 100%;
};

// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
